---
import "@fontsource/lato";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
}
const { description, title } = Astro.props;
export const prerender = true;
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Isaac Mayné" />
    <meta
      name="keywords"
      content="Desarrollador Frontend, React, Next.js, Portfolio, Isaac Mayné"
    />
    <meta name="theme-color" content="#4f46e5" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://isaacmayne.netlify.app" />
    <title>{title}</title>
    <meta name="google-site-verification" content="llk8gbqWmmqxouxEFDIl0G3JYaZwubZJsXxfMNtzlsE" />
  </head>
  <body
    class="min-h-screen flex flex-col relative text-black dark:text-white bg-white"
  >
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-indigo-100 dark:bg-gray-950
      bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(100,100,100,0.3),rgba(255,255,255,0.9))]
      dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.5),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
